:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

.contact {
  padding: 0;
  background: transparent;
  border: none;
}

@media (max-width: 560px) {
  .contact {
    margin-top: 7rem;
  }
}
